.title {
  font-size: 2rem;
}

.container {
  width: 100%;
  justify-content: center;
  padding-right: 5%;
  padding-left: 5%;
}

.column {
  text-align: center;
  color: inherit;
  text-decoration: none;
  border: 1px solid black;
  border-radius: 4px;
  background-color: #8B9694;
  /* background-color: #D7D2D1; */
  background-image: linear-gradient(
      to right,
      #555555,
      #5b5b5b,
      #616161,
      #676767,
      #6d6d6d,
      #6d6d6d,
      #6d6d6d,
      #6d6d6d,
      #676767,
      #616161,
      #5b5b5b,
      #555555
    );
}

.left {
  width: 60%;
  padding: 1rem;
  float: left;
  text-align: start;
}

.right {
  width: 35%;
  padding: 1rem;
  float: right;
}

.section {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.section h5 {
  margin-bottom: 0;
  color: #3E3E3E;
}
.topTitle {
color: #3E3E3E;
}

.text {
  font-size: 1rem;
}

.link {
  color: darkgrey;
  text-decoration: underline;
}

.hoverLink:hover {
  color: darkgrey;
  text-decoration: underline;
  cursor: pointer;
}

@media only screen and (max-width: 800px) {
  .right {
    width: 100%;
    padding-bottom: 10px;
    float: none;
  }

  .left {
    width: 100%;
    padding-bottom: 10px;
    float: none;
  }
}
