.nav {
    height: 6rem;
    padding: 10px;
    /* background: #7C7C7C; */
    color: white;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: #757575;
  }
  
  .nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
  }
  
  .nav ul li a {
    margin: 5px 15px;
    font-size: 1.5rem;
  }